venv/
_temp/
__pycache__/

package.json
package-lock.json
node_modules/

*.umd.js
*.temp.js
*.zip
*.db
*.swp
*.ini

static/page/blocks/msg
static/page/blocks/media

/ide.html
BIPES

server/*.txt
static/import/*

licenses/
docs/_build
