venv/
_temp/
__pycache__/

package.json
package-lock.json
node_modules/

*.umd.js
*.temp.js
*.zip
*.db
*.swp

static/libs/blockly/msg

static/media/blocks/
/ide.html
BIPES

server/*.txt
static/import/*
