nav #project::before {
	background-position: left calc(-1.5rem*28) top;
}
nav #project.on::before {
	background-position: left calc(-1.5rem*28) bottom;
}
section#project .header {
  margin: 0.5rem 0 0.25rem 0;
}
section#project button#add {
  margin-right: .5rem;
}
section#project .listy {
  font-size: 0.9rem;
}
section#project #user-projects button h4 {
  padding:.5rem 0 0.125rem 0;
  margin-right: 0.5rem;
  width: 100%;
  text-align: left;
}
section#project #user-projects button:not(.shared) #sharedUID {
  display:none;
}
section#project #user-projects .listy #sharedUID,
section#project .listy #uid {
  border: #7d7d7d 1px solid;
  border-radius: 1em;
  padding: 0 .25em;
  background: rgba(125,125,125,.125); 
}
section#project #user-projects .listy #sharedUID:before,
section#project .listy #uid:before {
  content:'#'
}
section#project .listy #author,
section#project .listy #lastEdited {
  font-size: 0.8rem;
}
section#project #ask-shared-project .header > span {
  margin-right: 1rem;
}
section#project #ask-shared-project:not(.on) {
  display: none;
}
section#project .username {
  background-color: rgba(68,153,204,.25);
  display: flex;
  padding: .5em 1em;
  margin-left: 1em;
  border-radius: 1em;
}
section#project .username input {
  border-bottom: 1px dashed #666;
  margin: 0 .5em;
}
section#project > .container > .header {
    margin: 0.5rem 0.5rem 0.25rem 1rem;
}
