nav #project::before {
	background-position: left calc(-1.5rem*28) top;
}
nav #project.on::before {
	background-position: left calc(-1.5rem*28) bottom;
}
section#project #user-projects .header,
section#project #shared-projects .header {
  margin: 0.5rem 0 0.25rem 0;
}
section#project button#add {
  margin-right: .5rem;
}
section#project .listy {
  font-size: 0.9rem;
}
section#project #user-projects button h4 {
  padding:.5rem 0 0.125rem 0;
  margin-right: 0.5rem;
  width: 100%;
  text-align: left;
}
section#project #user-projects button:not(.shared) #sharedUID {
  display:none;
}
section#project #user-projects .listy #sharedUID,
section#project #shared-projects .listy #uid {
  border: #7d7d7d 1px solid;
  border-radius: 1em;
  padding: 0 .25em;
  background: rgba(125,125,125,.125); 
}
section#project #user-projects .listy #sharedUID:before,
section#project #shared-projects .listy #uid:before {
  content:'#'
}
section#project .listy #author,
section#project .listy #lastEdited {
  font-size: 0.8rem;
}
