nav #device::before {
	background-position: left calc(-1.5rem*20) top;
}
nav #device.using::before {
	background-position: left calc(-1.5rem*20) bottom;
}
section#device #new-connection h3, section#device #devices, section#device #target-device {
  margin-top: 0.75rem;
}
section#device #new-connection #WebSerial:not(.unsupported) > div {
  background: linear-gradient(130deg, rgba(106,168,251,1) 0%, rgba(123,73,173,1) 200%);
}
section#device #new-connection #WebSocket:not(.unsupported) > div {
  background: linear-gradient(130deg, rgba(106,168,251,1) -100%, rgba(123,73,173,1) 200%);
}
section#device #new-connection #WebBluetooth:not(.unsupported) > div {
  background: linear-gradient(130deg, rgba(106,168,251,1) -200%, rgba(123,73,173,1) 100%);

}
section#device button.unsupported > div {
  border: 1px solid #fff;
}
section#device #new-connection #WebSerial > div:before {
	background-position: left calc(-1.5rem*23) top;
}
section#device #new-connection #WebSocket > div:before {
	background-position: left calc(-1.5rem*24) top;
}
section#device #new-connection #WebBluetooth > div:before {
	background-position: left calc(-1.5rem*25) top;
}
section#device #devices button {
  flex-shrink: 0;
}
section#device #devices button > div {
  min-width: 15rem;
}
section#device #devices button > div {
  transition: .25s ease background-color, .125s ease transform;
  border: 1px solid #fff;
  display: block;
}
section#device .device-connect.master button > div,
section#device button.unsupported > div {
  cursor: default !important;
}
section#device button:not(.unsupported) span {
  display: none;
}
section#device button.unsupported span {
  width: 0;
  float: left;
  font-size: 0.9rem;
  margin-right: -.75em;
  margin-left: .75em;
  margin-top: .25em;
}
section#device #devices button > div > div.using-text {
  float: right;
  margin-top: -7.125rem;
  margin-left: -1em;
  visibility: hidden;
}
section#device #devices button.on > div > div.using-text {
  visibility: visible;
}
section#device #devices button > div > div {
  font-size: 0.9rem;
}
section#device #devices button.on > div {
  background: #fff;
  color: #222;
}
section#device #devices button.on h4 {
  color: #222;
}
section#device button#disconnect {
  float: left;
  width: 8em;
  min-width: 8em;
  margin-top: -2em;
  margin-left: -1.75em;
  display: none;
}
section#device button#fetch {
  float: left;
  width: 7em;
  min-width: 7em;
  margin-top: -4em;
  margin-left: -1.75rem;
  display: none;
}
section#device .device-connect #new-connection {
  transition: .5s ease height, .25s ease opacity;
  overflow: hidden;
  height: 9rem;
}
section#device .device-connect.master #new-connection {
  height: 0rem;
  opacity: 0;
}
section#device .device-connect.master button.on button#disconnect,
section#device .device-connect.master button.on button#fetch {
  display: inline-flex;
  filter: invert(1);
}
section#device .device-connect.master button:active > div,
section#device button.unsupported:active > div{
  transform: scale(1) !important;
}

section#device #target-device > div {
  text-align: center;
}
section#device #target-device select {
  margin-right: 1rem;
}
section#device #target-device #pinout {
  max-width: 40rem;
  width: 100%;
} 
