nav #files::before {
	background-position: left calc(-1.5rem*13) top;
}
nav #files.on::before {
	background-position: left calc(-1.5rem*13) bottom;
}
section#files details {
  overflow: hidden;
  transition: .125s ease border;
}
section#files summary, section#files .listedFile {
  -webkit-tap-highlight-color: transparent;
  white-space: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
}
section#files #fileOnProject > summary,
section#files #fileOnTarget > summary {
  font-weight: bold;
}

section#files #hidePane:before {
  content: "\1433";
  margin-right: .5rem;
  transition: transform .125s ease;
  display:inline-block;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1rem;
}
section#files #hidePane {
  padding: 1em 0.5em;
  cursor: pointer;
}
section#files #hidePane:before {
  transform: rotateZ(180deg);
  margin: 0 .25em;
}
section#files.hidePane #hidePane:before {
  transform: rotateZ(0deg);
}
section#files > .container {
  display: flex;
  height: 100%;
  width: 100%;
}
section#files #pane, section#files #editor {
  transition: .25s ease width;
}
section#files #pane {
  overflow: hidden;
  width: 15rem;
  border-right: 1px solid #666;
  flex-shrink: 0;
}
section#files.hidePane #pane {
  width: 0rem;
}
section#files #editor {
  background: #282c34;
  overflow: hidden;
}
@media screen and (min-width: 40rem) {
  section#files #editor {
    width: calc(100% - 15rem);
  }
}
@media screen and (max-width: 39.99rem) {
  section#files #editor {
    width: 100%;
    flex-shrink: 0;
  }
}
section#files.hidePane #editor {
  width: 100%;
}
section#files #codemirror {
  height: calc(100% - 3rem);
  overflow-y: auto;
}
@media screen and (orientation: portrait){
  section#files.pos1 #pane, section#files.pos2 {
    height: 100%;
  }
}
section#files #filename {
  border-left: 1px solid #666;
  width: 100%;
  padding-left: 0.5rem;
}
section#files input {
}
section#files #editor #header {
  height: 3rem;
  border-bottom: 1px solid #666;
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0 0;
}
section#files #pane .header {
  padding: 0 0.5rem;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #666;
}
section#files #pane .header h2 {
  flex-grow: 2;
  text-align: center;
}
section#files #sidebar, section#file #pane .header {
  width: 15rem;
}
section#files #sidebar {
  overflow-y: auto;
  height: calc(100% - 3rem);
}
@media screen and (orientation: portrait){
  section#files.pos1 #sidebar, section#files.pos2 #sidebar {
    height: calc(100% - 3rem);
  }
}
section#files #sidebar > details {
  padding: 0.5rem 0 0.25rem 0;
}
section#files #fileOnTarget details,
section#files #fileOnProject details {
  padding-left: .25em;
}
section#files .listedFile {
  width: 100%;
}
section#files .listedFile,
section#files #fileOnTarget summary,
section#files #fileOnProject summary {
  cursor: pointer;
  border-radius: .125rem;
}
section#files .listedFile {
  padding: .25em .75em .25em .75em;
}
section#files #fileOnTarget summary,
section#files #fileOnProject summary {
  padding: .25em .75em 0em .75em;
  margin-left: -.25rem;
}
section#files #fileOnTarget summary:focus,
section#files #fileOnProject summary:focus {
  background: #334
}
section#files #fileOnTarget details > summary {
  margin-left: -.25em;
}

section#files .listedFile:hover,
section#files #fileOnTarget summary:hover,
section#files #fileOnProject summary:hover {
  background: #333;
}
section#files .listedFile:focus,
section#files #fileOnTarget summary:focus,
section#files #fileOnProject summary:focus {
  background: #334;
}

section#files .emptyDir {
  color: #aaa;
  font-style: italic;
  padding-left: .75rem;
}
section#files #fileOnTarget > summary::before,
section#files #fileOnTarget summary::before, section#files .listedFile:before,
section#files #fileOnProject > summary::before,
section#files #fileOnProject summary::before, section#files .listedFile:before {
	display: block;
	width: 1.25rem;
	height: 1.25rem;
	background: url('../media/icons.svg');
	background-size: auto 2.5rem;
	content: '';
	margin: 0 .125rem 0 0;
	flex-shrink: 0;
}
section#files #fileOnTarget > summary::before {
	background-position: left calc(1.25rem*13) bottom !important;
}
section#files #fileOnProject > summary::before {
	background-position: left calc(1.25rem*3) top !important;
}
section#files #fileOnTarget summary::before,
section#files #fileOnProject summary::before {
	background-position: left calc(-1.25rem*16) top;
}
section#files .listedFile:before {
	background-position: left calc(-1.25rem*17) top;
}
section#files button#script:before {
	background-position: left calc(-1.5rem*17) top;
}
section#files #fileOnProject details[open] summary:before,
section#files #fileOnProject details[open] summary:before {
	background-position: left calc(-1.25rem*16) bottom;
}

