section#files details {
  overflow: hidden;
  transition: .125s ease border;
}
section#files summary, section#files .listedFile {
  -webkit-tap-highlight-color: transparent;
  white-space: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
}
section#files #fileOnTarget > summary {
  font-weight: bold;
}
section#files #fileOnTarget > summary:before, section#files #hidePane:before {
  content: "\1433";
  margin-right: .5rem;
  transition: transform .125s ease;
  display:inline-block;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1rem;
}
section#files #fileOnTarget[open] > summary:before {
  transform: rotateZ(90deg);
}
section#files #hidePane {
  padding: 1em 0.5em;
  cursor: pointer;
}
section#files #hidePane:before {
  transform: rotateZ(180deg);
  margin: 0 .25em;
}
section#files.hidePane #hidePane:before {
  transform: rotateZ(0deg);
}
section#files > .container {
  display: flex;
  height: 100%;
  width: 100%;
}
section#files #pane, section#files #editor {
  transition: .25s ease width;
}
section#files #pane {
  overflow: hidden;
  width: 15rem;
  border-right: 1px solid #666;
}
section#files.hidePane #pane {
  width: 0rem;
}
section#files #editor {
  background: #151515;
  width: calc(100% - 15rem);
  overflow: hidden;
}
section#files.hidePane #editor {
  width: 100%;
}
@media screen and (orientation: portrait){
  section#files.pos1 #pane, section#files.pos2 {
    height: 50vh;
  }
}
section#files #filename {
  border-left: 1px solid #666;
  width: 100%;
  padding-left: 0.5rem;
}
section#files input {
}
section#files #editor #header {
  height: 3rem;
  border-bottom: 1px solid #666;
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0 0;
  background: #111;
}
section#files #pane .header {
  padding: 0 0.5rem;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #666;
}
section#files #pane .header h2 {
  flex-grow: 2;
  text-align: center;
}
section#files #projectTree, section#file #pane .header {
  width: 15rem;
}
section#files #projectTree {
  overflow-y: auto;
  height: calc(100vh - 3rem);
}
@media screen and (orientation: portrait){
  section#files.pos1 #projectTree, section#files.pos2 #projectTree {
    height: calc(50vh - 3rem);
  }
}
section#files #projectTree > details {
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
}
section#files #fileOnTarget details {
  padding-left: .25em;
}
section#files .listedFile {
  width: 100%;
}
section#files .listedFile, section#files #fileOnTarget summary {
  padding: .25em;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: .125rem;
}
section#files #fileOnTarget summary:focus {
  border: 1px solid #666;
}
section#files #fileOnTarget details > summary {
  margin-left: -.25em;
}

section#files .listedFile:hover, section#files #fileOnTarget details > summary:hover {
  border: 1px solid #666;
}
section#files .listedFile:focus,  section#files #fileOnTarget details > summary:focus {
  border: 1px solid #fff;
}


section#files .emptyDir {
  color: #aaa;
  font-style: italic;
  padding-left: 0.25em;
}
button#upload::before, label#upload::before {

}
section#files #fileOnTarget > span summary::before, section#files .listedFile:before {
	display: block;
	width: 1.25rem;
	height: 1.25rem;
	background: url('../media/icons.svg');
	background-size: auto 2.5rem;
	content: '';
	margin: 0 .125rem 0 0;
	flex-shrink: 0;
}
section#files #fileOnTarget > span summary::before {
	background-position: left calc(-1.25rem*16) top;
}
section#files .listedFile:before {
	background-position: left calc(-1.25rem*17) top;
}
section#files button#script:before {
	background-position: left calc(-1.5rem*17) top;
}
section#files #fileOnTarget > span details[open] summary:before {
	background-position: left calc(-1.25rem*16) bottom;
}

