section#files details {
  overflow: hidden;
  transition: .125s ease border;
}
section#files summary, section#files .listedFile {
  -webkit-tap-highlight-color: transparent;
  white-space: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
}
section#files #fileOnTarget > summary {
  font-weight: bold;
}
section#files #fileOnTarget > summary:before {
  content: "\1433";
  margin-right: .5rem;
  transition: transform .25s ease;
  display:inline-block;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1rem;
}
section#files #fileOnTarget[open] > summary:before {
  transform: rotateZ(90deg);
}
section#files > div {
  display: grid;
  grid-template-columns: 15rem calc(100% - 15rem);
  height: 100%;
  width: 100%;
}
section#files #pane {
  border-right: 1px solid #666;
}
section#files #filename {
  font-weight: bold;
  border-left: 1px solid #666;
  width: 100%;
  padding-left: 0.5rem;
}
section#files input {
}
section#files #editor #header {
  height: 3rem;
  border-bottom: 1px solid #666;
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0 1.85rem;
}
section#files #pane .header {
  padding: 0 0.5rem 0 1.85rem !important;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #666;
}
section#files #pane .header h2 {
  flex-grow: 2;
  text-align: center;
}
section#files #projectTree {
  overflow-y: auto;
  height: calc(100vh - 3rem);
}
section#files #projectTree > details {
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
}
section#files #fileOnTarget details {
  padding-left: .25em;
}
section#files .listedFile, section#files #fileOnTarget details > summary {
  padding: .25em;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: .125rem;
}
section#files #fileOnTarget details > summary {
  margin-left: -.25em;
}

section#files .listedFile:hover, section#files #fileOnTarget details > summary:hover {
  border: 1px solid #666;
}

section#files .emptyDir {
  color: #aaa;
  font-style: italic;
  padding-left: 0.25em;
}
button#upload::before, label#upload::before {

}
section#files #fileOnTarget > span summary::before, section#files .listedFile:before {
	display: block;
	width: 1.25rem;
	height: 1.25rem;
	background: url('../media/icons.svg');
	background-size: auto 2.5rem;
	content: '';
	margin: 0 .125rem 0 0;
	flex-shrink: 0;
}
section#files #fileOnTarget > span summary::before {
	background-position: left calc(-1.25rem*16) top;
}
section#files .listedFile:before {
	background-position: left calc(-1.25rem*17) top;
}
section#files #fileOnTarget > span details[open] summary:before {
	background-position: left calc(-1.25rem*16) bottom;
}
