
nav #project::before {
	background-position: left calc(-1.5rem*28) top;
}
nav #project.on::before {
	background-position: left calc(-1.5rem*28) bottom;
}
section#project #user-projects .header {
  margin: 0.5rem 0 0.25rem 0;
}
section#project button#add {
  margin-right: .5rem;
}
section#project .listy button.on {
  cursor: default;
}
section#project .listy button {
  transition: .25s ease background-color;
}
section#project #user-projects button > div {
  transition: .125s ease transform;
}
section#project #user-projects button > div > div {
  font-size: 0.9rem;
}
section#project #user-projects button.on {
  background-color: rgba(68,153,204,.25);
}
section#project .listy button:hover {
  background-color: rgba(68,153,204,.5);
}
section#project #user-projects button h4 {
  padding:.5rem 0 0.125rem 0;
  margin-right: 0.5rem;
  width: 100%;
  text-align: left;
}
section#project .listy button.on:active > div {
  transform: scale(1) !important;
}
