<!doctype html>
<html  lang='{{ lang }}'>
<head>
  <title>{{ app_name }}</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="icon" sizes="192x192" href="./static/media/icon/icon-192x192.png">
  <link rel="apple-touch-icon" sizes="180x180" href="./static/media/apple-touch-icon.png">
  <link rel="manifest" href="static/media/manifest.webmanifest">
  <meta name="theme-color" content="#fff">
  <script>
    if ('serviceWorker' in navigator)
      navigator.serviceWorker.register('static/libs/serviceworker.js')
  </script>
  <link rel="stylesheet" href='./static/style.css'/>
  {% for item in imports -%}
  <script type="text/javascript" src="./static/libs/{{ item }}.js"></script>
  {% endfor %}
  {% for item in explicit_imports -%}
  <script type="text/javascript" src="./static/{{ item }}.js"></script>
  {% endfor %}
  {% for lang in lang_imports -%}
  <script type="text/javascript" src="./static/{{ lang }}"></script>
  {% endfor %}
</head>


<body oncontextmenu='return false'>

<nav>
<div id="panels">
  <span id="menu">{{ app_name }}</span>
{% for item in page -%}
{% if import_type == "text/javascript" -%}
  <a id="{{ item }}" href="./ide.html?page={{ item }}"></a>
{% else %}
  <a id="{{ item }}" href="./ide?page={{ item }}"></a>
{% endif %}
{% endfor %}
</div>
<div id="extra">
  <div id="app-version">Version {{ app_version }}</div>
</div>
</nav>

{% for item in page -%}
  <section id="{{ item }}"></section>
{% endfor %}

<div id='status-bar'>
  <div id='extra'></div>
  <div id='globals'></div>
</div>

<script type="{{import_type}}" src="./static/libs/bipes.umd.js"></script>
{% if import_type == "text/javascript" -%}
<script>
  Bipes()
</script>
{% endif %}

</body>
</html>
