<!doctype html>

<head>
  <title>{{ app_name }}</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="icon" sizes="192x192" href="./static/media/icon/icon-192x192.png">
  <link rel="stylesheet" href='./static/style/main.css'/>
  {% for key, plugin in npm.items() %}{% if plugin.import %}
  <script type="text/javascript" src="{{ plugin.src }}"></script>{% endif %}{% endfor %}
  {% for key, plugin in npm.items() %}{% if plugin.import %}{% if plugin.css_src %}
  <link rel="stylesheet" href='{{ plugin.css_src }}'/>{% endif %}{% endif %}{% endfor %}
  {% for item in navigation %}{% if item.css_src %}
  <link rel="stylesheet" href='./static/style/{{ item.css_src }}.css'/>{% endif %}{% endfor %}
</head>


<body>

<nav>
<div id="panels">
  <span id="menu">{{ app_name }}</span>
{% for item in navigation %}<a id="{{ item.href }}" href="./ide?{{ item.href }}">{{ item.caption }}</a>{% endfor %}
</div>
<div id="extra">
  <div id="app-version">Version {{ app_version }}</div>
</div>
</nav>

{% for item in navigation %}<section id="{{ item.href }}"></section>{% endfor %}

<script type="{{import_type}}" src="./static/libs/bipes.umd.js"></script>
{% if import_type == "text/javascript" %}
<script>
  Bipes()
</script>
{% endif %}

</body>
